<!DOCTYPE html>
<html>
<head>
    <title>Simple Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/sign.css">
    {{$data := .}}
</head>
<body>
    <header>
        <h1>Simple Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#stats">Statistics</a></li>
            <li><a href="#settings">Settings</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </nav>
    <main>
        <section id="overview">
            <h2>Overview</h2>
            <p>Welcome {{$data}}! This is where you can view an overview of your data.</p>
        </section>
        <section id="stats">
            <h2>Statistics</h2>
            <p>Here, you can view various statistics about your data.</p>
        </section>
        <section id="settings">
            <h2>Settings</h2>
            <p>In this section, you can adjust the settings for your dashboard.</p>
        </section>

    </main>
    <footer>
        <p>Copyright ©2022 Simple Dashboard</p>
    </footer>
</body>
</html>
