<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/signup.css">
</head>
<body>
    <header>
        <h1>Signup</h1>
    </header>
    <main>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="password-confirm">Confirm Password:</label>
            <input type="password" id="password-confirm" name="password-confirm" required>
            <br>
            <button id="submit" disabled="true" type="submit"> Sign Up Now!</button>
        </form>
    </main>
    <footer>
        <p>Copyright ©2022 Signup Page</p>
    </footer>

	<script>
		let password = document.getElementById('password');
		let passwordCon = document.getElementById('password-confirm');
		
		
		function dsBtn() {
			if (passwordCon.value !== password.value) {
				document.querySelector('#submit').disabled = true;
				console.log(password.value)
				console.log(passwordCon.value)
				return
			}
			document.getElementById('submit').disabled = false;
			console.log("enabled")
			return
		}
		
		document.getElementById("password-confirm").addEventListener("keyup", dsBtn)

	</script>
</body>
</html>
